.form {
  color: #000000;
}

.form__fieldset {
  max-width: 385px;
  border: none;
  margin: auto;
}

.form__label {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: 500;
}

.form__item {
  margin-top: 8px;
  margin-bottom: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 4px;
  border-color: #838383;
  width: 100%;
  height: 60px;
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 385px;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  color: white;
  background-color: #2f80ed;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}

.form__submit:hover {
  opacity: 0.7;
}

.form__terms-box {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 12px;
}

.form__terms {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
