.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: auto;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 880px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  margin-top: 30px;
  margin-left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0 0;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  margin: 183px 0 28px 80px;
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: block;
  font-family: "Noto serif", "Times New Roman", sans-serif;
  font-style: italic;
  color: #2f80ed;
  font-weight: normal;
}
.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 80px 40px;
  align-items: center;
  box-sizing: border-box;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  color: #838383;
}
.header__address {
  align-self: flex-end;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  margin: 100px 0 24px 80px;
}
.recipes__title-text {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  margin: 0 0 0 80px;
}

.recipes__paragraph {
  margin: 0;
  font-family: "Noto serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 80px 0 215px 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
